/* .App {
  text-align: center;
} */
body {
  background-color: rgb(57, 57, 57);
}

.pageContainer {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 1.5em;
}

.dataStackContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  border: rgb(65, 65, 65) solid 4px;
  border-radius: 4px;
  background-color: rgb(228, 228, 228);
}

[data-stack] {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  height: 300px;
  width: 111px;
  background-color: rgba(138, 138, 138, 0.564);
  border: rgb(96, 96, 96) solid 1px;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 3px rgb(74, 74, 74),
    1px 4px 8px 0 rgba(40, 40, 40, 0.591);
  margin: 25px;
}

[data-block] {
  height: 25px;
  border-radius: 4px;
  /* float: left; */
  border: rgb(74, 74, 74) solid 1px;
  box-shadow: 0px 0px 0px 1px rgba(74, 74, 74, 0.577),
    1px 4px 8px 0 rgba(40, 40, 40, 0.4);
}

[data-block="25"] {
  width: 25px;
  background-color: rgb(34, 115, 255);
}

[data-block="50"] {
  width: 50px;
  background-color: rgb(0, 128, 47);
}

[data-block="75"] {
  width: 75px;
  background-color: rgb(255, 60, 0);
}

[data-block="100"] {
  width: 100px;
  background-color: rgb(255, 234, 0);
}

.blockSelect {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 111px;
  height: 111px;
  border: white 5px solid;
  text-align: center;
  background-color: rgba(138, 138, 138, 0.564);
  border: rgb(74, 74, 74) solid 1px;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 3px rgb(74, 74, 74),
    1px 1px 8px 0 rgba(40, 40, 40, 0.4);
}

.resetButton {
  margin-top: 20px;
  width: 111px;
  height: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  color: rgb(70, 70, 70);
  border: 2px gray solid;
  border-radius: 4px;
  background-color: rgb(230, 83, 58);
}

.resetButton:hover {
  background-color: rgb(230, 58, 58);
  color: rgb(53, 53, 53);
}
